html {
    font-family: 'Cinzel', serif;
}

body {
    background: url(../img/regicide-bannerimg.png) repeat;
    background-size: cover;
    animation: slide 30s linear infinite
}


#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#title img{
    width: auto;
    height: 600px;
}

#startGameButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuButton {
    background-color: rgba(217, 185 ,144 ,0.7);
    padding: 1.5rem;
    border-radius: 25px;
    width: 250px;
    height: auto;
    font-size: 25px;
    margin-bottom: 1rem;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

#multiButton{
    opacity: .7;
}

#header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem;
    padding-right: 15%;
    padding-left: 15%;
}

#enemiesInQueue{
    padding-left: 15vw;
}


#enemiesInQueue img{
    height: 100px;
    width: auto;
    margin: 0 2px 0 2px;
    opacity: 0.7;
}


.topDeck {
    background-color: rgba(255,255,255,.7);
    font-weight: 900;
    border-radius: 25px;
    text-align: center;
    padding: 0.5rem;
    font-size: 18px;
}

#currentEnemy {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;
}

.statusTitle {
    font-size: 50px;
}

.statusNum{
    font-size: 100px;
}

.boxForStat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 25px;
    width: 270px;
    padding: 10px;
}

#playerHand{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 12vw;
    padding-right: 2.5vw;
    position:relative;
    width: 900px
} 

#container{
    display:none;
}


#enemyImage img{
    width: 300px;
    height: auto;
}

#enemyHealth{
    color:#C02200;
}

#enemyStrength{
    color: #5A3027;
}

#footer{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardsInPlay{
    width: 150px;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2px;
    padding-left: 2px;
}

#middle{
    display: none;
    flex-direction: row;
    justify-content: center;
}
 
#playArea{
    display: flex;
    height:250px;
    box-shadow: inset 0px 0px 20px 6px darkgreen;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 10px 30%;
    margin-right: 7vw;
    margin-left: 17vw;
    align-items: center;
    width: 800px;
}

#playArea.enemy{
    box-shadow: inset 0px 0px 20px 6px #C02200;
}

#statBox{
    display:flex;
    justify-content: center;
    align-items: center;
}

#statActualBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width:250px;
    height: 180px;
    /* font-weight: 900; */
    border-radius: 25px;
    padding: 0.5rem;
    background-color: rgba(144, 238, 144,.7);

}

#statActualBox.enemy{
    background-color: rgba(247, 44, 44, 0.7);
    color: white;
}

.statDesc{
    font-size: 25px;
}

.statNum{
    font-size: 100px;
}

#actionButton{
    display: flex;
    justify-content: end;
    margin: 1rem;
    opacity: 0.5;
    pointer-events: none;
}

.action {
    padding: 1.5rem;
    border-radius: 25px;
    width: 250px;
    height: auto;
    font-size: 25px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
}

#jokers{
    display: flex;
    align-items: center; 
}

#jokers img {
    display: flex;
    justify-content: left;
    height: 100px;
    width: auto;
    margin-left: 1vw;
    border-radius: 25px;
}

.joker.taken{
    opacity: 0.25;
}


.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalLaunch{
    display: block;
}

#modalWin{
    display: none;
}

#modalLose{
    display: none;
}

#modalHelp{
    display: none;
}

#showHelpModal{
    display: none;
}

h3{
    color: white;
    font-size: 50px;
  }

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 25px;
  width: 20%; /* Could be more or less, depending on screen size */
  border-radius: 25px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.modal-content.launchModel{
    background-color: rgb(128, 128, 128, .95);
    border: 2px solid black;
    margin: 20% auto; /* 15% from the top and centered */
}

.modal-content.winModal{
    background-color: rgb(119, 174, 119, .9);
    border: 2px solid black;
}

.modal-content.loseModal{
    background-color: rgb(192, 90, 90, .9);
    border: 2px solid black;
}

.helpModal h4{
    margin: 5px;
    margin-bottom:0px;
    font-style: italic;
}

.helpModal p{
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 17px;
}



#modalHelp {
    position: fixed; /*Stay in place */
    z-index: 1; /* Sit on top */
    left: 60%;
    top: 0;
    bottom: 0;
    width: 40vw; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,.0); /* Black w/ opacity */
    overflow-y: scroll;
    overflow-x: hidden;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.helpModal{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    margin-left: 100px;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    width: 75%; /* Could be more or less, depending on screen size */
    border-radius: 25px;
}

.helpModal h2{
    margin:0;
    padding:5px;
}

.helpModal .flexJokers{
    display: flex;
    flex-direction: column;
}

.helpJoker{
    height: auto;
    width: 4.5vw;
}

.lessMargin{
    margin: 0px;
    padding: 0px;
}

.helpModal .flexSuits{
    display: flex;
    flex-direction: row;
    }

.helpModal .flexSuits img{
    height: 7.2vw;
    width: auto;
    }

#showHelpModal{
    position: fixed; /*Stay in place */
    z-index: 1; /* Sit on top */
    left: 95%;
    top: 0;
    bottom: 0;
    width: 5vw; /* Full width */
    height: auto; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    opacity: .7;
}

.showHelp{
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-top: 10vw;
    background-color: lightgreen;
    border: 2px solid black;
    font-size: 50px;
    font-weight: bold;
    width: 2.7vw; /* Could be more or less, depending on screen size */
    border-radius: 25px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------ANIMATIONS--------------------------------------*/

#enemyImage.captured{
    animation-name:captured;
    animation-duration: 1s;
    animation-iteration-count:infinite
}

#enemyImage.destroyed{
    animation-name: opacityHide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#enemyImage.kingArrival{
    animation-name: opacityShow;
    animation-duration: 8s;
    animation-iteration-count: 1;
}

@keyframes captured{
    0%  { transform: scale(1,1);}
    50%  { transform: scale(1.1,1.3); }
    100% { transform: scale(0);}
  }


@keyframes slide {
    0%{background-position: 0 0;}
    100%{background-position: -2122px 0;}
}

#modalLaunch .modal-content{
    animation-name: none;
  }

  #modalHelp .modal-content{
    animation-name: none;
  }

  .opacityShow{
    animation-name: opacityShow;
  }

  @keyframes opacityShow{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .holdHelp.opacityHide{
    animation-name: opacityHide;
  }

  @keyframes opacityHide{
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  .holdHelp{
    animation-name: holdHelp;
  }

  @keyframes holdHelp{
    0% {opacity: 1;}
    100% {opacity: 1;}
  }


.modal .modal-content{
    animation-name: appear;
    animation-timing-function: ease;
  }
  @keyframes appear{
    0%  { transform: scale(0)}
    50%  { transform: scale(1.1,1.3)}
    100% { transform: scale(1,1)}
  }
  
  .holdLose .modal-content.loseModal{
    animation-name: holdLose;
    animation-timing-function: ease;
  }
  @keyframes holdLose{
    0%  { transform: scale(1,1)}
    50%  { transform: scale(.98,1.02)}
    100% { transform: scale(1,1)}
  }

  .holdWin .modal-content.winModal{
    animation-name: holdWin;
    animation-timing-function: ease;
  }
  @keyframes holdWin{
    0%  { transform: scale(1,1)}
    50%  { transform: scale(.95,1.05)}
    100% { transform: scale(1,1)}
  }


  .apply-shake-weak {
    animation: shakeWeak .7s cubic-bezier(.36,.07,.19,.97) both;
}
  @keyframes shakeWeak {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .apply-shake-mid {
    animation: shakeMid .9s cubic-bezier(.36,.07,.19,.97) both;
}
  @keyframes shakeMid {
    10%, 90% {
      transform: translate3d(-4px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(6px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-10px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(10px, 0, 0);
    }
  }

  .apply-shake-strong {
    animation: shakeStrong 1.2s cubic-bezier(.36,.07,.19,.97) both;
}
  @keyframes shakeStrong {
    10%, 90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(10px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-20px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(20px, 0, 0);
    }
  }

/*-----------------------------------------------------------------------------*/
/*---------------------FOR DIFFERENT SCREEN SIZES------------------------------*/

@media (max-width:2100px) {

    #statActualBox{
        width:200px;
        height: 130px;
        font-weight: 900;
        border-radius: 25px;
        padding: 0.5rem;
    }
    
    .statDesc{
        font-size: 20px;
    }
    
    .statNum{
        font-size: 75px;
    }

    #playArea{
        margin-left: 22vw;
        height:200px;
        width: 600px;
    }
    .cardsInPlay{
        width: 100px;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #playerHand{
        margin: 1rem 5vw;
        width: 750px
    } 

    .action {
        padding: 1.5rem;
        width: 200px;
        font-size: 15px;
    }
}

@media (max-width:1300px) {

    
    #statActualBox{
        width:175px;
        height: 105px;
        font-weight: 900;
        border-radius: 25px;
        padding: 0.5rem;
        margin-right: 8vw;
    }
    
    .statDesc{
        font-size: 20px;
    }
    
    .statNum{
        font-size: 50px;
    }

    #playArea{
        height:150px;
        width: 500px;
        margin-left: 27vw;
    }
    .cardsInPlay{
        width: 75px;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #playerHand{
        margin: 1rem 5vw;
        width: 600px
    } 

    #jokers img {
        display: flex;
        justify-content: left;
        height: 50px;
        width: auto;
    }

    .action {
        padding: 1rem;
        width: 150px;
        font-size: 15px;
        text-align: center;
    }
    
}

@media (max-width:720px), (max-height:512px) {


    .topDeck {
        font-size: 12px;
    }

    #enemyImage img{
        width: 150px;
        height: auto;
    }

    .statusTitle {
        font-size: 25px;
    }
    
    .statusNum{
        font-size: 50px;
    }
    
    #statActualBox{
        width:125px;
        height: 55px;
        font-weight: 900;
        border-radius: 25px;
        padding: 0.5rem;
        margin-right: 8vw;
    }
    
    .statDesc{
        font-size: 13px;
    }
    
    .statNum{
        font-size: 20px;
    }

    #playArea{
        height:100px;
        width: 500px;
        margin-left: 27vw;
    }
    .cardsInPlay{
        width: 75px;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #playerHand{
        margin: 1rem 5vw;
        width: 400px
    } 

    #jokers img {
        display: flex;
        justify-content: left;
        height: 50px;
        width: auto;
    }

    .action {
        padding: 1rem;
        width: 150px;
        font-size: 15px;
        text-align: center;
    }
    
}
